//Main Page
$background-color: #E5E5E5;
$family-font: 'Acrom';
//Breadcrumbs
$font-bread-color: #303133;
$font-bread-color-active: #ED5992;
$stroke-line: #979797;
//Opened Card
$font-color-reg: #606266;
$font-size-reg: 14px;
$font-color-title: #2F1767;
$font-size-title: 18px;
//Cards
$card-shadow: #C5C5C5;
//Pagination
$pagination-main-color-bg: #979797;
$pagination-main-font-color: #606266;
$pagination-main-font-size: 14px;
$pagination-main-font-family: 'SFProText';
//Pagination: Active
$pagination-active-color: #ED5992;
$pagination-active-font: #FFFFFF;
//backDrop
$card-backdrop-color: #C5C5C5;